.avatar-container {
  border-radius: 50%;
  border: 2px solid var(--purple-700);

  display: grid;
  place-content: center;

  overflow: hidden;
}

.avatar {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
}