.button {
  display: block;

  background-color: var(--green-700);
  color: var(--gray-100);

  width: 100%;
  padding: 1.6rem;

  outline: none;

  border-radius: 8px;

  font-weight: 700;
}

.button:focus {
  box-shadow: var(--outline);
}