.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 1.4rem;
  font-weight: 700;
  
  background-color: var(--green-700);
  color: var(--gray-100);

  width: 100%;
  padding: 1.2rem;

  outline: none;

  border-radius: 8px;
}

.button.purple {
  background-color: var(--purple-700);
  color: var(--gray-700);
}

.button.red {
  background-color: var(--red-700);
}

.button:focus {
  box-shadow: var(--outline);
}
