.filters {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 3.2rem;

  margin-top: 3.2rem;

  width: 100rem;
  max-width: 100%;
}

@media (max-width: 720px) {
  .filters {
    flex-direction: column;
  }
}

.filters .filter {
  border-radius: 8px;

  width: 100%;

  box-shadow: 0 0 0 8px var(--gray-400);
}

.filters .filter #search {
  padding: 4px;
  font-size: 1.4rem;
  background-color: var(--gray-700);
} 