@import './input.css';
@import './select.css';
@import './input-avatar.css';
@import './radio.css';
@import './checkbox-list.css';

.form {
  background-color: var(--gray-500);

  padding: 3.2rem 2.4rem;
  border-radius: 4px;

  max-width: 420px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form fieldset {
  width: 100%;
  border: none;
}

.form legend {
  color: var(--gray-100);
  margin-bottom: 2.4rem;

  text-align: center;

  font-weight: bold;
  font-size: 2rem;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  width: 100%;
}

.form button[type="submit"] {
  margin-top: 2.4rem;
}
