@import './avatar.css';

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.2rem 3.2rem;

  background-color: var(--gray-600);

  height: 7.2rem;
}

@media (max-width: 480px) {
  #header {
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    height: auto;
  }

  #header .user .name {
    font-size: 1.4rem;
  }
}

#header .logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.6rem;
}

#header .logo h1 {
  color: var(--purple-700);
}

#header .logo h1 span {
  color: var(--green-500);
}

#header .user,
#header .user .info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#header .user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#header .user .avatar {
  width: 2.8rem;
  height: 2.4rem;
}

#header .user .name {
  color: var(--gray-100);
}

#header .user .logout-button {
  display: grid;
  place-content: center;
}
