label.src-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

fieldset {
  width: 100%;
}

.input-container {
  background-color: var(--gray-700);

  width: 100%;

  padding: 8px 1.2rem;
  border-radius: 8px;
}

.input-container .content {
  display: flex;
  align-items: center;
}

.input-container input,
textarea {
  color: var(--gray-200);
  background-color: transparent;

  outline: none;
  border: none;

  padding: 8px;

  width: 100%;

  font-size: 1.6rem;
}

.input-container textarea {
  min-height: 16rem;
}

.input-container:focus-within {
  box-shadow: var(--outline);
}

.input-container input::placeholder,
textarea::placeholder {
  color: var(--gray-200);
  background-color: transparent;
}

.input-container .error {
  display: flex;

  color: var(--red-400);

  font-size: 1.2rem;
  font-weight: 700;

  margin-top: 8px;
}

.input-container .error::before {
  content: '>';
  margin-right: 8px;
}
