.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 8px;

  width: 100%;
  max-width: 40rem;

 overflow: hidden;
}

.modal:not([open]) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .content {
  flex: 1;
  padding: 2.4rem;
  background-color: var(--gray-600);
}

.modal .title {
  color: var(--gray-100);
  text-align: center;
  font-size: 1.8rem;
}

.modal .buttons {
  margin-top: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;

  border-top: 1px solid var(--gray-300);
  padding: 3.6rem 0 1.2rem;

  height: 2.4rem;

  text-transform: capitalize;
}

.modal .buttons .button {
  padding: 1.2rem;
  text-transform: capitalize;
}
