.navigation {
  width: max-content;
}

.navigation > div {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.navigation h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-100);
}

.navigation .amount {
  font-size: 1.6rem;

  color: var(--gray-200);
}

.navigation nav ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  flex-wrap: wrap;

  margin-top: 2.4rem;
}

.navigation .nav-link {
  background-color: var(--gray-600);

  border-radius: 8px;
  border: 1px solid var(--gray-100);
  padding: 8px 3.2rem;

  font-size: 1.2rem;

  color: var(--gray-100);
  text-transform: uppercase;
}

.navigation .nav-link.yellow {
  border-color: var(--yellow-700);
  color: var(--yellow-700);
}

.navigation .nav-link.green {
  border-color: var(--green-300);
  color: var(--green-300);
}

.navigation .nav-link.purple {
  border-color: var(--purple-700);
  color: var(--purple-700);
}

@media (max-width: 420px) {
  .navigation {
    width: 100%;
  }

  .navigation nav ul {
    justify-content: center;
    gap: 2.4rem;
    width: 100%;
  }

  .navigation .nav-link {
    display: block;
    font-size: 1.2rem;
  }
}

.new-order-button {
  display: flex;
  align-items: center;
  gap: 4px;

  width: max-content;

  font-size: 1.4rem;
  font-weight: 700;

  background-color: var(--green-700);
  color: var(--gray-100);

  padding: 8px 1.4rem;
  border-radius: 8px;
}
