.order-field {
  background-color: var(--gray-600);

  border-radius: 8px;

  padding: 2.4rem;
  padding-bottom: 1.2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.order-field .title {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.4rem;

  text-transform: uppercase;

  color: var(--gray-300);
}

.order-field .icon {
  font-size: 1.8rem;
  color: var(--purple-700);
}

.order-field textarea {
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;

  margin-top: 6px;
  padding: 8px 1.2rem 0;

  width: 100%;

  border-radius: 8px;

  overflow-y: auto;

  line-height: 24px;

  font-size: 1.6rem;

  color: var(--gray-100);
}

.order-field textarea:focus {
  box-shadow: var(--outline);
}

.order-field textarea.big {
  min-height: 24rem;
}

.order-field .error {
  color: var(--red-400);

  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 8px;
}

.order-field .select {
  background-color: transparent;

  color: var(--gray-100);

  border: none;
  outline: none;

  padding: 8px 1.2rem;

  font-size: 1.6rem;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.order-field .select::-ms-expand {
  display: none;
}

.order-field .select:disabled {
  color: var(--gray-100) !important;
}

.order-field .select .option {
  background-color: var(--gray-600);
  border: none;
}

.order-field.user .content {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.order-field.user .name {
  color: var(--gray-100);
  font-weight: 400;
}

.order-field.user .caption {
  border-top: 1px solid var(--gray-300);
  padding-top: 1.2rem;

  color: var(--gray-300);
}
