.order-card {
  border-radius: 8px;

  border-left: 8px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--gray-600);

  padding: 2rem;

  transition: transform 0.3s;
}

.order-card:hover {
  transform: scale(1.05);
}

.order-card.open {
  border-color: var(--yellow-700);
}

.order-card.closed {
  border-color: var(--green-300);
}

.order-card .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
}

.order-card .info .title {
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--gray-100);
}

.order-card .info .patrimony {
  font-weight: 700;
  font-size: 1.2rem;

  color: var(--gray-200);
}

.order-card .info .time {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.2rem;

  color: var(--gray-200);
}

.order-card .icon {
  border-radius: 50%;

  width: 5.4rem;
  height: 5.4rem;

  display: grid;
  place-content: center;

  background-color: var(--gray-500);
}
