.radio-container {
  color: var(--gray-300);
  font-weight: 700;

  cursor: pointer;
}

.radio-container input[type='radio'] {
  display: none;
}

.radio-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  text-transform: capitalize;

  border-radius: 8px;

  outline: none;
}

.radio {
  display: grid;
  place-content: center;

  background-color: transparent;

  width: 1.6rem;
  height: 1.6rem;

  padding: 2px;

  border: 2px solid var(--gray-300);
  border-radius: 50%;
}

.radio-container label:focus {
  box-shadow: var(--outline);
}

.radio::after {
  content: '';
  display: block;

  width: 8px;
  height: 8px;

  border-radius: 50%;
}

.radio-container.purple input[type='radio']:checked + label {
  color: var(--purple-700);
}

.radio-container.green input[type='radio']:checked + label {
  color: var(--green-500);
}

.radio-container.purple:has(input[type='radio']:checked) .radio {
  border-color: var(--purple-700);
}

.radio-container.purple:has(input[type='radio']:checked) .radio::after {
  background-color: var(--purple-700);
}

.radio-container.green:has(input[type='radio']:checked) .radio {
  border-color: var(--green-500);
}

.radio-container.green:has(input[type='radio']:checked) .radio::after {
  background-color: var(--green-500);
}
