.toast {
  font-weight: 700;

  border-radius: 8px;

  position: absolute;
  top: 2.4rem;
  right: 2.4rem;

  transition: transform 1.5s ease;
  transform: translateX(150%);

  overflow: hidden;

  max-width: 360px;
}

.toast.open {
  transform: translateX(0%);
}

.toast-content {
  padding: 1.2rem;
  padding-right: 3.2rem;

  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;
}

.toast.error {
  background-color: var(--red-700);
  color: var(--gray-100);
}

.toast .close {
  position: absolute;
  top: 8px;
  right: 8px;

  font-size: 2.4rem;
  font-weight: 400;

  background-color: transparent;

  color: var(--gray-100);
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--gray-100);
}

.toast.open .progress {
  height: 4px;
  width: 100%;

  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}
