.user-card {
  border-radius: 8px;

  border-left: 8px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--gray-600);

  padding: 2rem;

  transition: transform 0.3s;
}

.user-card.tech {
  border-color: var(--purple-700);
}

.user-card.guardian {
  border-color: var(--green-500);
}

.user-card.admin {
  border-color: var(--yellow-700);
}

.user-card:hover {
  transform: scale(1.02);
}

.user-card .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-card .info .name {
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--gray-100);
}

.user-card .info .email {
  color: var(--gray-200);
}

.user-card .info .role {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.user-card .info .role.tech {
  color: var(--purple-700);
}

.user-card .info .role.guardian {
  color: var(--green-500);
}

.user-card .info .role.admin {
  color: var(--yellow-700);
}

.user-card .avatar {
  border-radius: 50%;

  width: 6.4rem;
  height: 6.4rem;

  display: grid;
  place-content: center;
}
