<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/icons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/not-found.css" />
    <title>Tech Guardian | 500</title>
  </head>
  <body>
    <main class="container">
      <h1>
        Código <span class="green">5</span><span class="green">0</span
        ><span class="green">0</span>
      </h1>
      <h2>Erro interno no servidor 😢</h2>
      <p>Clique em <button onclick="history.back()">voltar.</button></p>
    </main>
  </body>
</html>
