<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Guardian</title>
  </head>
  <body>
    <header>
      <img
        src="/assets/icons/logo.svg"
        width="24"
        height="24"
        alt=""
      />
      <h1>Tech<span>Guardian</span></h1>
    </header>

    <form action="">
      <fieldset>
        <legend>Acesse sua conta</legend>

        <div>
          <label for="email">E-mail</label>
          <div>
            <img
              src="/assets/icons/mail.svg"
              width="24"
              height="24"
              alt=""
            />
            <input type="email" name="email" id="email" />
          </div>
        </div>

        <div>
          <label class="src-only" for="password">Senha</label>
          <div>
            <img
              src="/assets/icons/key.svg"
              width="24"
              height="24"
              alt=""
            />
            <input type="password" name="password" id="password" />
          </div>
        </div>
      </fieldset>

      <button type="submit">Entrar</button>
    </form>

    <a href="/register">Crie sua conta</a>
  </body>
</html>
