<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/session.css" />
    <script src="/scripts/session.mjs" defer type="module"></script>
    <title>Tech Guardian | login</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: null }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <main class="container">

      <form action="/login-user" method="POST" data-form>
        <fieldset>
          <legend>Acesse sua conta</legend>

          <div class="inputs">
            <%-
             include(
                "../partials/input.ejs",
                {
                  id: 'email',
                  type: 'email',
                  placeholder: 'E-mail',
                  icon: 'mail',
                  value: getFlashMessages('email')[0] ?? '',
                  validations: [
                    { type: 'required' },
                    { type: 'email' },
                  ]
                }
              )
             %>
            <%- 
              include(
                "../partials/input.ejs",
                { 
                  id: 'password',
                  type: 'password',
                  placeholder: 'Senha',
                  icon: 'key',
                  value: '',
                  validations: [
                    { type: 'required' },
                    { type: 'password' },
                  ]
                }
              ) 
            %>
          </div>
        </fieldset>

        <button class="button" type="submit">Entrar</button>
      </form>

      <a class="link" href="/register">Criar conta</a>
    </main>

  </body>
</html>
