<div class="avatar-container">
  <img
    src="/uploads/avatars/<%= image %>"
    width="<%= size %>"
    height="<%= size %>"
    alt="Imagem de avatar de usuário"
    class="avatar"
    data-avatar
  />
</div>
