<div class="checkbox-list" data-checkbox-list>
  <button class="checkbox-list-button" type="button">
    <strong class="title">Patrimônios</strong>
    <i class="icon ph-bold ph-caret-down"></i>
  </button>
  <ul class="checkboxes">
    <% items.forEach(item => { %>
      <li>
        <label for="<%= item.id %>" class="checkbox">
          <input 
            type="checkbox" 
            name="patrimonies_ids[]" 
            id="<%= item.id %>" 
            value="<%= item.id %>" 
            <% if (checkedItemsIds && checkedItemsIds.includes(item.id)) { %>
              checked
            <% } %>
          />
          <span><%= item.value %></span>
        </label>
      </li>
    <% }) %>
   
    <button class="filter-button" type="submit">Filtrar</button>
  </ul>
</div>
