<header id="header">
  <a href="/open-orders" class="logo">
    <img src="/assets/icons/logo.svg" width="40" height="40" alt="" />
    <h1>Tech<span>Guardian</span></h1>
  </a>

  <% if (user) { %>

  <div class="user">
    <a class="info" href="/user/<%= user.id %>">
      <%- include("../partials/avatar.ejs", { image: user.avatar, size: 32 }) %>

      <strong class="name"><%= user.name %></strong>
    </a>

    <button class="logout-button" data-logout-button>
      <i class="icon ph-bold ph-sign-out"></i>
    </button>
  </div>

  <% } %>
</header>
