<dialog class="modal" data-modal>
  <div class="content">
    <h3 class="title" data-title></h3>
    <div class="buttons">
      <button class="button cancel" data-cancel>Cancelar</button>
      <button class="button red action" data-action></button>
    </div>
  </div>
</dialog>
