<dialog class="modal visible" id="<%= id %>" data-modal>
  <div class="overlay">
    <div class="content">
      <h3 class="title"></h3>
      <div class="buttons">
        <button class="button cancel" autofocus>Cancelar</button>
        <a href="#" class="button red action"></a>
      </div>
    </div>
  </div>
</dialog>
