<ul class="filters">
  <li class="filter">
    <%-
      include(
        "../partials/input.ejs",
          {
            id: 'search',
            type: 'search',
            placeholder: 'Pesquisar solicitação por nome',
            icon: 'magnifying-glass',
            value: search,
            validations: []
          }
      )
    %>
  </li>

  <li class="filter">
    <%-
      include(
        "../partials/checkbox-list.ejs",
          {
            title: 'Patrimônios',
            name: 'patrimonies_ids',
            items: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number })),
            checkedItemsIds: patrimonies_ids
          }
      )
    %>
  </li>

  <li class="filter">
    <%-
      include(
        "../partials/date-picker.ejs",
          {
            name: 'date',
            value: date
          }
      )
    %>
  </li>
</ul>
 