<div class="order-status <%= isOpen ? 'open' : 'closed' %>">
  <i class="ph-bold ph-<%= isOpen ? 'hourglass' : 'seal-check' %> icon"></i>
  <img src="/assets/icons/" alt="">
  <p>Solicitação <%= isOpen ? 'em andamento' : 'finalizado' %></p>
</div>