<div class="order-field user">
  <strong class="title">
    <i class="ph ph-user icon"></i>
    <%= title %>
  </strong>
  <a href="/user/<%= id %>" class="content">
    <img
      src="/uploads/avatars/default.png"
      width="40"
      height="40"
      alt=""
      class="avatar"
    />
    <strong class="name"><%= name %></strong>
  </a>
  <small class="caption">em 20/11/2022 às 14:30</small>
</div>
