<ul class="pagination" data-pagination>
  <% let hasPrevDots = false %> 
  <% for (let number = 1; number <= pages; number++) { %> 
    <% if (number <= currentPage - 2) { %>
      <% if (!hasPrevDots) { %>
        <li>
          <span class="dots">...</span>
        </li>
        <% hasPrevDots = true %>
      <% } %>
      <% continue %>
    <% } %>
    <% if (number > currentPage + 2) { %>
      <li>
        <span class="dots">...</span>
      </li>
      <% break %>
    <% } %>
    <li>
      <a 
        href="?page=<%= number %>" 
        class="page-number <%= Number(currentPage) === Number(number) ? 'active' : '' %>" 
        data-page-number="<%= number %>"
      >
        <%= number %>
      </a>
    </li>
  <% } %>
</ul>