<a href="/patrimony/<%= id %>" class="patrimony-card">
  <strong class="number">Patrimônio <%= number %></strong>
  <div class="icon">
    <i class="icon ph-bold ph-desktop-tower"></i>
  </div>
</a>
