<div class="select-container">
  <div class="content">
    <select data-select class="select" name="<%= id %>" id="<%= id %>">
      <option class="option" value="null">Número do patrimônio</option>
      <% options.forEach(option => { %>
        <option 
        data-option 
        class="option" 
        value="<%= option.id %>"
        >
        <%= option.value %>
      </option>
      <% }) %>
    </select>
    <img
      class="icon"
      src="/assets/icons/arrow-down.svg"
      width="16"
      height="16"
      alt=""
    />
  </div>
</div>
