<div class="select-container">
  <div class="content">
    <select data-select class="select" name="<%= id %>" id="<%= id %>">
      <option class="option" value="null">Número do patrimônio</option>
      <option data-option class="option" value="">123456</option>
      <option data-option class="option" value="">987456</option>
      <option data-option class="option" value="">321456</option>
      <option data-option class="option" value="">741258</option>
    </select>
    <img
      class="icon"
      src="/assets/icons/arrow-down.svg"
      width="16"
      height="16"
      alt=""
    />
  </div>
</div>
