<div class="select-container">
  <select class="select" name="<%= id %>" id="<%= id %>">
    <option class="option" value="">Número do patrimônio</option>
    <option class="option" value="">123456</option>
    <option class="option" value="">987456</option>
    <option class="option" value="">321456</option>
    <option class="option" value="">741258</option>
  </select>
  <img class="icon" src="/assets/icons/arrow-down.svg" width="16" height="16" alt="" />
</div>
