<div class="toast <%= type %>">
  <div class="toast-content">
    <img
      class="icon"
      src="/assets/icons/<%= type %>.svg"
      width="32"
      height="32"
      alt=""
    />
    <p><%= body %></p>
    <button class="close">×</button>
  </div>
</div>
