<a href="/user/<%= id %>" class="user-card">
  <div class="info">
    <strong class="name"><%= name %></strong>
    <small class="email"><%= email %></small>
  </div>
  <div class="avatar">
    <%- include("../partials/avatar.ejs", { image: avatar, size: 40 }) %>
  </div>
</a>
