@import './modules/global.css';
@import './modules/header.css';
@import './modules/navigation.css';
@import './modules/order-card.css';
@import './modules/button.css';
@import './modules/toast.css';
@import './modules/modal.css';

main.container {
  width: 90%;
  max-width: 1200px;

  margin: 4rem auto;
}

.order-cards {
  margin-top: 2.4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

@media (max-width: 1024px) {
  .order-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .order-cards {
    grid-template-columns: 1fr;
  }
}
