@import './modules/global.css';
@import './modules/header.css';
@import './modules/navigation.css';
@import './modules/order-card.css';
@import './modules/button.css';
@import './modules/input.css';
@import './modules/toast.css';
@import './modules/modal.css';

main.container {
  width: 90%;
  max-width: 1200px;

  margin: 4rem auto;
}

form {
  padding: 8px;
  background-color: var(--gray-500);
  border-radius: 8px;

  margin-top: 2.4rem;
  max-width: 48rem;

}

#search {
  padding: 8px;
  font-size: 1.4rem;
}

.input-container {
  padding: 4px;

}

.order-cards {
  margin-top: 2.4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

@media (max-width: 1024px) {
  .order-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .order-cards {
    grid-template-columns: 1fr;
  }
}

.no-orders-found-message {
  margin-top: 4rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--gray-200);
}