@import './modules/global.css';
@import './modules/header.css';
@import './modules/toast.css';
@import './modules/order-status.css';
@import './modules/order-field.css';
@import './modules/button.css';
@import './modules/avatar.css';
@import './modules/modal.css';
@import './modules/back-button.css';

main.container {
  width: 90%;
  max-width: 1200px;

  margin: 8px auto;
}

.back-button {
  margin-bottom: 1.2rem;
}

form {
  width: 540px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;

  padding-bottom: 4rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}
