@import './modules/global.css';
@import './modules/header.css';
@import './modules/form.css';
@import './modules/input.css';
@import './modules/button.css';
@import './modules/link.css';
@import './modules/toast.css';
@import './modules/radios.css';

main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  width: 100%;
  height: calc(100% - 7.2rem);
  padding: 0 2.4rem;
}

.roles-question {
  margin-top: 1.2rem;
  color: var(--gray-100);
  font-weight: 700;
}

.radios {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
}
