@import './modules/global.css';
@import './modules/header.css';
@import './modules/toast.css';
@import './modules/modal.css';
@import './modules/button.css';
@import './modules/navigation.css';
@import './modules/user-card.css';
@import './modules/avatar.css';
@import './modules/filters.css';
@import './modules/input.css';
@import './modules/search.css';
@import './modules/pagination.css';

main.container {
  width: 90%;
  max-width: 1200px;

  margin: 2.4rem auto;

  padding-bottom: 4rem;
}

.filters {
  max-width: 40rem;
}

.button {
  width: max-content;
}

.buttons {
  display: flex;
  align-items: end;
  gap: 8px;

  margin-top: 2.8rem;
}

.button.filter {
  padding: 8px;
  padding: 8px 1.4rem;
  font-size: 1.4rem;

  background-color: var(--purple-700);
  color: var(--gray-700);
}

.button.new-patrimony {
  background-color: var(--green-500);
  color: var(--gray-700);
  padding: 8px;
}

.users-cards {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  gap: 2.4rem;

  min-height: 28rem;
}

@media (max-width: 1024px) {
  .users-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .users-cards {
    grid-template-columns: 1fr;
  }
}

.no-userss-found-message {
  margin-top: 4rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--gray-200);
}
